{{ template "header.html" }}

<h1>Gallery</h1>
<br><br>
<h2>IARU HF Championships - Operating as GR2HQ - 40M SSB</h2>
<script src="https://www.publicalbum.org/js/pa-embed-player.min.js" async></script>
<div class="pa-embed-player" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/7K6XUDLwMvkNzkiJ8"
  data-title="IARU HF Championships - GR2HQ 40M SSB"
  data-descrition="10 new photos added to shared album">
  <img data-src="https://lh3.googleusercontent.com/vNKxzmGnDN834Jqa5hk3S5Zw3Ct3GNxnsPPlCSs7YCxM1QO2QTIdEGv49pqus4QUGSopccwLv39DbKaFYMRVIN3BwNuV6IZmKgtDZuY6mkyR8WwPEkSdVkgrpB_VBZNzwVRjYkOghB0=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/zbsspoN7lohWtOw-HNsjUEpxijL8OPvOMdS4z-jXRAWObzftYDxqBZ3hWJqqToOE6tTTODr8SyT-7GI5wMHEZW_-3OnRP13qPZ8rwjFfzGp8S7GCuBtnee0uWzkaty4qvZN7O34MRck=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/SHQIuI8_Xl79UXK5uYkjK5SxNu6CJoggATKdoNTEvUYkynZCkN5mBgVaie0f41txnzROAGXoqcrD4jSWmXV4ePVOP4HpivSvutgIF9TrxHqFZJfKxvHLtxU1N1HzXLszSdpbMYVFwao=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/zbFtwDukxn8Fnn4Cp--rB_XIFqgrAjTkKJ54u0GO8W96p4evKaelPw_kTRHGpkfbl8IGo--Bt8oXnZwg4l1832Rlhc2VOtPUlWsMkcP50iZZxyBcfkHOz_HqWrDgeWjGFPTXqOGd5Ow=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/ihCEpT4Oy2ir0raqh-p5T02xN9ZanJqMy7U1xbGWdEJS4-1sI1MPXHm8M5GG50cA3lWuIM9Go4ATHjBcV2aQRvAu27f-L8Lu1rGw8rPbwc89lyhOWPM6iD1yylGVxij55kdJsQgBne0=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/I_1vfJBHX2XO4sW0QHzcEgCV7Sp6A7pxfIvYEvlqJz_AWArxtFIWo3lnxb5wNzyE06bJL1RiJWykReuH4NKiFH8wuWIhG9m-T4dlK2l9VcZmaTPF50cDSW31TyOfTMpqTlv8Y1ZjNTg=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/J3hMeM--py8_LCxciCsPFWncYFrestscOvEhMRoUZATPuTzkr_tyv9Xi1P4UHmbSLxx0LX-l3A8D_l-7MNpJIpXTF9qyN3mFTDcvv8OZtYclTZU5PZuSvEYRldLBo5CyKFQ9-ESYjpE=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/57CuHHT1RpBfmmjR3rjzAYV0nwxyJ0zOjIdprUGD18BxSix26DXucel01Fr792-HHLeATuoJtqKHbuFygQTacrHIWF72QMpTSvlw5t64y1Qr73hYbuOXwq4aCmPHuYWeTzrsx6Hd9_0=w1920-h1080" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/pzSTwYRS2jKKj9J_W91S5dhFlTePhbUw9qcImNU51VQeGMG2jy2r8Gb0UPcgnpgKu3QcdTUDUXZyFn3LU6dzsOk6JbHb-YpOAruz5BSX_ZNdXONVcznH4zrffj1JqVeDHl3HGmyHOJI=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/uHlEhdxKQKT4XxSLz5axJKJh991Z3PjfAWhsM1uKmKBFSyOeABeg4CtJfcULJ6TDnssAL4_iV0HMkFLSkp_9U_e3dKrXxtpVmbPKWFw8LraokXm0duEKCAmFaYv0KZrr-Rla-ufTVEA=w5344-h3006" src="" alt="" />
</div>
<br><br>
<h2>Moving SteppIR Monstir. Second photo moving SteppIR DB42</h2>
<script src="https://www.publicalbum.org/js/pa-embed-player.min.js" async></script>
<div class="pa-embed-player" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/MuEKfpcoRrB2A6Ms8"
  data-title="Moving Antennas"
  data-descrition="4 new photos · Album by Peter Barnes">
  <img data-src="https://lh3.googleusercontent.com/nP3KtPEbXtHUnbUGEErDbniB_HLodSzWs_mEq3q6oFuK-QkriURVk86FtWljGfoI6afRil41p8Y5zUq0eTeM-L1ACzTkfYynQ9wLhgEI6f0hH1LZBsg3OWLG32gDxMBJnKbYwInzw-Q=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/FkhEbR4E8nVsQfzyIFJN_sun2zn2-eWcN4JrwpBVjOlOV1XrEoZ1Dbb0zjRjdeUfjvHW7lmJPICuwv8sJaOEkVmxgamCxz7w7Fcgw1L9feTZeaktH9KcuxlnD03av7bzm4LM6caVGRM=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/51Zis6qnwU_h_b4h2MUXbzBcORcBkoSqR-xMp9EYCmSUbC4bzMZgiOzWHh2ScgsAn25ewMjtBfaBjQ0SLtJHKY_3OkB2lwCLEmK-Xh9YSAPLflknzkQVvyVYp1_U_yiFqjn66lctHeM=w5344-h3006" src="" alt="" />
  <img data-src="https://lh3.googleusercontent.com/4am0l_cYjixHH-KgEuAGcOm9kTkEK8K0fqjezWZDi9rCmD994HXgtmjFqMt4bOjTCwc0GeJ6oyy8GmCx9j_lFhB3fsWCT0TztCmYBZApO3kMFcRa9ppSpUmnr0zalSBTiSxpPffFlwc=w5344-h3006" src="" alt="" />
</div>


{{ template "footer.html" }}
