<!--header.html-->

<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Personal Website">
<meta name="author" content="Peter Barnes">

<title>Team:India</title>
<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/rnZdTDJ.png"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/css/gw4cc.css" rel="stylesheet">

</script>

</head>

<body>

<div class="header jumbotron text-center">
<div class="sitetitle"><h1>Team:India - Micromouse Project</h1></div>
<div class="sitesub"><p>2018 / 2019</p></div>
</div>

	{{ template "menu.html" }}
