<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}


        <h1>Home</h1><br>
	<p>Welcome to Team India's website for Swansea University's MicroMouse project, 2018/19!</p>
	<br>

	<h2>GitHub</h2>
	<p>The website can be found on Github, <a href="https://github.com/pe5er/mmindia-website" target="_blank">here</a></p>
	<p>Our microcontroller code can also be found on Github, <a href="https://github.com/pe5er/mmindia-mcu" target="_blank">here</a></p>
	<br>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
