<!--team.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}


        <h1>Meet the Team</h1>
	<br>
	<hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Peter <span class="text-muted">Project Manger</span></h2>
            <p class="lead">Peter spends most of his time playing with electronics in computers, whether that be in Swansea University or outside his studies, where he is a member of the Swansea Hackspace. Peter is also a
keen Radio Amateur, and runs his own Amateur Radio club at the university. Outside of electronics, he likes to play computer games and eat pizza!</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://gistcdn.githack.com/pe5er/00dd70d9a79e94ee624904726e704420/raw/6b7c97d2aa253c31f929d2f3e4d1379e8bc390d0/peter-avatar.svg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Jojo <span class="text-muted">Webmaster</span></h2>
            <p class="lead">Donec ullamr fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://gistcdn.githack.com/pe5er/1079360742d50b9b3d335462d79c73a3/raw/e505bbbc21e85e826787e3a85c27499c6a18832e/jojo-avatar.svg" alt="Generic placeholder image">
          </div>
        </div>

	 <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Farah <span class="text-muted">Electronics Engineer</span></h2>
            <p class="lead">Donec ullamingilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="https://gistcdn.githack.com/pe5er/05220c982a31de105b87f758116d7333/raw/17590e1a27d488fd480f7c72de29a4d81d198ba5/farah-avatar.svg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Jackie <span class="text-muted">Research and Development</span></h2>
            <p class="lead">Donec ullamingilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="https://gistcdn.githack.com/pe5er/f546a318a26623b273174ac6b09da5ef/raw/7d00af51561dfc0dc4c09e3dabe7119d640bacdc/jackie-avatar.svg" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">
	<br><br>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
