<!--header.html-->

<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Personal Website">
<meta name="author" content="Peter Barnes">

<title>Team:India</title>
<link rel="shortcut icon" type="image/png" href="https://i.imgur.com/rnZdTDJ.png"/>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="/css/mmindia.css" rel="stylesheet">

</script>

</head>

<body>

<div class="header jumbotron text-center">
<div class="sitetitle"><h1>Team:India - Micromouse Project</h1></div>
<div class="sitesub"><p>2018 / 2019</p></div>
</div>


<!--menu.html-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
	<a class="nav-link" href="/team">Team</a>
      <li class="nav item">
        <a class="nav-link" href="/news">News</a>
      </li>
      <li class="nav item">
        <a class="nav-link" href="/pm">Project Planning</a>
      </li>
      <li class="nav item">
        <a class="nav-link" href="/ethics">Ethics</a>
      </li>
      <li class="nav item">
        <a class="nav-link" href="/docs">Public Documents</a>
      </li>
      <li class="nav item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav item">
        <a class="nav-link" href="gallery">Gallery</a>
      </li>
      <li class="nav item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto justify-content-end">
      <li class="nav item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>

    </ul>
  </div>
</div>
</nav><br><br>

<div class="container">

<!-- team, news, project planning, ethics, public documents, blog, gallery, vids and podcasts, pm tools. private section, upload area, github,  -->











<!-- PLACE NEW CONTENT HERE -->









<!--END OF NEW CONTENT -->


<br><br>
</div> <!-- //container -->

<footer class="footer">
        <div class="jumbotron text-center" style="margin-bottom:0">
        <span class="text-muted">&copy; Peter Barnes 2018</span>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script language="javascript">

$(document).ready(function() {
        // get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('.navbar-nav > li > a[href="'+pathname+'"]').parent().addClass('active');
})

</script>

 </body>
</html>
